@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Consumer.Consumer.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMS.Consumer.ConsumerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>