@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Zoning.Apartment.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMS.Zoning.ApartmentGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>