@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.EMSDevice.EmsDevice.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMS.EMSDevice.EmsDeviceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>