@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Meters.MeterType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMS.Meters.MeterTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>