@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Parameter.ParameterGroup.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMS.Parameter.ParameterGroupGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>