@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Parameter.Parameter.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new EMS.Parameter.ParameterGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>